[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "0.21.0"
pyyaml = "6.0"
asyncio = "3.4.3"
azure-storage-file-share = "12.1.1"
python-dotenv = "*"

[dev-packages]
pipenv-setup = "2.1"

[requires]
python_version = "3.8"
